/* SignUpPage.css */

.signup-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  
.logo {
    width: 150px; /* Adjust the size as needed */
    height: auto;
    margin-bottom: 20px; /* Adds space below the logo */
  }
  
  .signup-container input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .signup-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signup-container button:hover {
    background-color: #45a049;
  }
  
  .signup-container p {
    margin-top: 15px;
  }
  
  .signup-container p a {
    color: #007bff;
    text-decoration: none;
  }
  
  .signup-container p a:hover {
    text-decoration: underline;
  }